<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javahelps.com.javahelps.interactive_e_learning_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Interactive E-Learning"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Professor.HandledCourses"
            android:label="Handling Courses"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <activity
            android:name=".Notes.DisplayNotes"
            android:label="Notes"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Notes.NotesList"
            android:label="Noted Notes"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".HelpingMaterial.Material"
            android:label="Helping Material"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Discussion.DiscussionRoom"
            android:label="Discussion Board"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".LectureVideo.video_player" />
        <activity
            android:name=".LectureVideo.LectureVideosList"
            android:label="Video Lectures"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Notes.NotesSection"
            android:label="Add Notes"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Professor.Professor_Detail"
            android:label="Professor&apos;s Details"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name=".ui.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity
            android:name=".Courses.CourseContent"
            android:label="Course Content"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".Courses.CourseSelection"
            android:label="Course Selection"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
    </application>

</manifest>